@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.hero {
  background-image: url(../img/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.btn-primary {
  background-color: #E4007E;
  color: white;
}

.btn-secondary {
  background-color: #050774;
  color: white;
}

.services {
  min-width: auto;
}

.text-gradient {
  background-image: linear-gradient(277deg, rgba(5,7,116,1) 35%, rgba(228,0,126,1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.features {
  background-image: url(../img/gradient-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.yt-video {
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  height: 494px;
  width: 852px;
}

footer {
  background-color: #202020;
}

.text-pink {
  color: #E4007E;
}